# MULTIPLE LINEAR REGRESSION MODEL

# Libraries and data

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("cancer_reg_refined.csv", encoding='latin-1')
cancer_df = data.copy()
cancer_df.head(2)
# Without the encoding paremeter, this error presents itself:
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 41137: invalid continuation byte

,avgAnnCount,incidenceRate,studyPerCap,AvgHouseholdSize,PctNoHS18_24,PctHS18_24,PctUnemployed16_Over,PctBlack,PctAsian,PctOtherRace,BirthRate,TARGET_deathRate,binnedInc,Geography
0,1397.0,489.8,499.748,2.54,11.5,39.5,8.0,2.595,4.822,1.843,6.119,164.9,BIN_5,WEST
1,173.0,411.6,23.111,2.34,6.1,22.4,7.8,0.969,2.246,3.741,4.333,161.3,BIN_4,WEST

# Multilinear Regression

In [3]:
# Getting Dummy variables, dropping one to avoid the dummy variable trap
cancer_df = pd.get_dummies(data = cancer_df, drop_first = True)
cancer_df.head(2)

,avgAnnCount,incidenceRate,studyPerCap,AvgHouseholdSize,PctNoHS18_24,PctHS18_24,PctUnemployed16_Over,PctBlack,PctAsian,PctOtherRace,BirthRate,TARGET_deathRate,binnedInc_BIN_2,binnedInc_BIN_3,binnedInc_BIN_4,binnedInc_BIN_5,Geography_EAST,Geography_WEST
0,1397.0,489.8,499.748,2.54,11.5,39.5,8.0,2.595,4.822,1.843,6.119,164.9,0,0,0,1,0,1
1,173.0,411.6,23.111,2.34,6.1,22.4,7.8,0.969,2.246,3.741,4.333,161.3,0,0,1,0,0,1

In [4]:
# Isolating x and y
y = cancer_df['TARGET_deathRate']
x = cancer_df.drop(columns = ['TARGET_deathRate'])
x.head(1)

,avgAnnCount,incidenceRate,studyPerCap,AvgHouseholdSize,PctNoHS18_24,PctHS18_24,PctUnemployed16_Over,PctBlack,PctAsian,PctOtherRace,BirthRate,binnedInc_BIN_2,binnedInc_BIN_3,binnedInc_BIN_4,binnedInc_BIN_5,Geography_EAST,Geography_WEST
0,1397.0,489.8,499.748,2.54,11.5,39.5,8.0,2.595,4.822,1.843,6.119,0,0,0,1,0,1

In [5]:
# Adding constant
x = sm.add_constant(x)
x.head(1)

,const,avgAnnCount,incidenceRate,studyPerCap,AvgHouseholdSize,PctNoHS18_24,PctHS18_24,PctUnemployed16_Over,PctBlack,PctAsian,PctOtherRace,BirthRate,binnedInc_BIN_2,binnedInc_BIN_3,binnedInc_BIN_4,binnedInc_BIN_5,Geography_EAST,Geography_WEST
0,1.0,1397.0,489.8,499.748,2.54,11.5,39.5,8.0,2.595,4.822,1.843,6.119,0,0,0,1,0,1

In [6]:
# Training and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 666 )
x_train.head(2)

,const,avgAnnCount,incidenceRate,studyPerCap,AvgHouseholdSize,PctNoHS18_24,PctHS18_24,PctUnemployed16_Over,PctBlack,PctAsian,PctOtherRace,BirthRate,binnedInc_BIN_2,binnedInc_BIN_3,binnedInc_BIN_4,binnedInc_BIN_5,Geography_EAST,Geography_WEST
781,1.0,782.0,457.0,73.537,2.50,18.0,33.7,8.5,10.273,1.669,0.653,5.939,0,0,0,1,1,0
1210,1.0,58.0,405.4,0.000,2.44,15.6,13.1,9.7,0.662,0.441,1.537,6.036,1,0,0,0,0,1

In [7]:
model = sm.OLS(y_train, x_train).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       TARGET_deathRate   R-squared:                       0.481
Model:                            OLS   Adj. R-squared:                  0.476
Method:                 Least Squares   F-statistic:                     115.7
Date:                Fri, 10 Feb 2023   Prob (F-statistic):          7.04e-287
Time:                        20:16:03   Log-Likelihood:                -9462.3
No. Observations:                2144   AIC:                         1.896e+04
Df Residuals:                    2126   BIC:                         1.906e+04
Df Model:                          17
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                   67.5602      5.609     12.045      0.000      56.561      78.560
avgAnnCount             -0.0034      0.001     -3.792      0.000      -0.005      -0.002
incidenceRate            0.2282      0.009     24.430      0.000       0.210       0.247
studyPerCap             -0.0004      0.001     -0.383      0.702      -0.002       0.002
AvgHouseholdSize         0.8972      1.053      0.852      0.394      -1.167       2.961
PctNoHS18_24             0.0508      0.060      0.843      0.399      -0.067       0.169
PctHS18_24               0.4516      0.051      8.884      0.000       0.352       0.551
PctUnemployed16_Over     1.3193      0.169      7.792      0.000       0.987       1.651
PctBlack                -0.0209      0.036     -0.576      0.565      -0.092       0.050
PctAsian                -0.4542      0.449     -1.013      0.311      -1.334       0.426
PctOtherRace            -0.1394      0.172     -0.811      0.418      -0.477       0.198
BirthRate               -0.4713      0.219     -2.152      0.032      -0.901      -0.042
binnedInc_BIN_2         -8.2410      1.407     -5.857      0.000     -11.000      -5.482
binnedInc_BIN_3        -12.2201      1.536     -7.955      0.000     -15.232      -9.208
binnedInc_BIN_4        -19.1128      1.630    -11.726      0.000     -22.309     -15.916
binnedInc_BIN_5        -23.2982      1.772    -13.147      0.000     -26.774     -19.823
Geography_EAST          -2.0564      1.086     -1.893      0.058      -4.187       0.074
Geography_WEST         -15.4364      1.473    -10.481      0.000     -18.325     -12.548
==============================================================================
Omnibus:                       84.395   Durbin-Watson:                   2.022
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              208.742
Skew:                           0.186   Prob(JB):                     4.70e-46
Kurtosis:                       4.483   Cond. No.                     9.94e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.94e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [8]:
# Adj. R-squared: 0.476
    # The model is a little bit underfitting

    # Some variables are not statistically significant (P>|t| >> 0)  

    # One of the Notes is :
        # The condition number is large, 9.94e+03. This might indicate that there are strong 
        # multicollinearity or other numerical problems.
    
        # This is a scaling issue, not a multicollinearity problem.

# Assessing Model Accuracy

In [9]:
predictions = model.predict(x_test)
predictions

2353    190.170072
1584    167.676125
2082    179.528444
212     165.820486
225     195.801794
           ...
2277    188.576067
2548    176.869089
2631    168.313157
2529    203.908136
551     162.783660
Length: 536, dtype: float64

In [10]:
# Accuracy Assessment
from sklearn.metrics import mean_absolute_error, mean_squared_error
print("MAE:", round(mean_absolute_error(y_test, predictions),2))
print("RMSE:", round(np.sqrt(mean_squared_error(y_test, predictions)),2))
MAPE = mean_absolute_error(y_test, predictions)/np.average(y_test)
print('MAPE:', round(MAPE * 100,3),'%')

MAE: 15.36
RMSE: 20.53
MAPE: 8.591 %